@theme inline {
  --spacing-alert-p: calc(var(--spacing) * 4.5);
  --text-alert-title: var(--text-sm);
  --text-alert-description: 13px;
  --spacing-alert-icon-size: calc(var(--spacing) * 5);

  /* Variants - aligned with Figma system tokens */
  --color-alert-text: var(--color-foreground);
  --color-alert-informative: var(--color-system-info-surface);
  --color-alert-informative-border: var(--color-system-info);
  --color-alert-informative-text: var(--color-system-info-h1a);
  --color-alert-warning: var(--color-system-alert-surface);
  --color-alert-warning-border: var(--color-system-alert);
  --color-alert-warning-text: var(--color-system-alert-h1a);
  --color-alert-success: var(--color-system-success-surface);
  --color-alert-success-border: var(--color-system-success);
  --color-alert-success-text: var(--color-system-success-h1a);
  --color-alert-destructive: var(--color-system-error-surface);
  --color-alert-destructive-border: var(--color-system-error);
  --color-alert-destructive-text: var(--color-system-error-h1a);
}

@layer components {
  .alert {
    @apply p-alert-p text-alert-text bg-card relative w-full rounded-lg;
    @apply [&>svg]:size-alert-icon-size [&>svg~*]:pl-9.5 [&>svg]:left-4.5 [&>svg]:top-4.5 [&>svg]:text-alert-text [&>svg]:absolute;
  }

  .alert-informative {
    @apply bg-alert-informative border-alert-informative-border/50 text-alert-informative-text border;
    @apply [&>svg]:text-alert-informative-border [&>div:nth-child(3)]:text-alert-informative-text/70;
  }

  .alert-warning {
    @apply bg-alert-warning border-alert-warning-border/50 text-alert-warning-text border;
    @apply [&>svg]:text-alert-warning-border [&>div:nth-child(3)]:text-alert-warning-text/70;
  }

  .alert-success {
    @apply bg-alert-success border-alert-success-border/50 text-alert-success-text border;
    @apply [&>svg]:text-alert-success-border [&>div:nth-child(3)]:text-alert-success-text/70;
  }

  .alert-destructive {
    @apply bg-alert-destructive border-alert-destructive-border/50 text-alert-destructive-text border;
    @apply [&>svg]:text-alert-destructive-border [&>div:nth-child(3)]:text-alert-destructive-text/70;
  }

  .alert-title {
    @apply text-alert-title mb-2 font-medium leading-none tracking-tight;
  }

  .alert-description {
    @apply text-alert-description font-normal [&_p]:leading-relaxed;
  }

  .alert-actions {
    @apply mt-3.5 flex gap-5;
  }

  .alert-top-action {
    @apply absolute right-2 top-2 flex gap-2 !pl-0;
  }

  .alert-close {
    @apply text-inherit;
  }
}
