@theme inline {
  --color-breadcrumb-link-foreground: var(--color-foreground);
  --color-breadcrumb-link-foreground-hover: var(--color-link);
  --color-breadcrumb-muted-foreground: var(--color-container-text);
}

@layer components {
  .breadcrumb-list {
    @apply flex flex-wrap items-center gap-2 break-words text-xs font-medium sm:gap-2.5;
  }

  .breadcrumb-item {
    @apply inline-flex items-center gap-1.5;
  }

  .breadcrumb-link {
    @apply text-breadcrumb-link-foreground hover:text-breadcrumb-link-foreground-hover cursor-pointer underline transition-colors;
  }

  .breadcrumb-page {
    @apply text-breadcrumb-muted-foreground;
  }

  .breadcrumb-separator {
    @apply text-breadcrumb-muted-foreground [&>svg]:size-2.5;
  }
}
