@theme {
    --color-dialog-title-text: var(--color-zinc-600);
    --color-dialog-description-text: var(--color-shadcn-400);
}

@layer components {
    .dialog-overlay {
        @apply data-[state=open]:animate-in data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=open]:fade-in-0 fixed inset-0 z-50 bg-black/50;
    }

    .dialog-content {
        @apply bg-background data-[state=open]:animate-in data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=open]:fade-in-0 data-[state=closed]:zoom-out-95 data-[state=open]:zoom-in-95 fixed top-[50%] left-[50%] z-50 grid w-full max-w-lg translate-x-[-50%] translate-y-[-50%] gap-8 border p-6 shadow-lg duration-200 sm:max-w-[425px] sm:rounded-lg;
    }

    .dialog-close {
        @apply data-[state=open]:bg-accent absolute top-4 right-4 rounded-sm opacity-70 transition-opacity hover:opacity-100 disabled:pointer-events-none data-[state=open]:text-gray-400;
    }

    .dialog-header {
        @apply flex flex-col gap-4 space-y-1.5 text-center sm:text-left;
    }

    .dialog-footer {
        @apply flex flex-col-reverse sm:flex-row sm:justify-end sm:space-x-2;
    }

    .dialog-title {
        @apply text-lg leading-none font-bold tracking-tight text-dialog-title-text;
    }

    .dialog-description {
        @apply text-dialog-description-text text-sm font-medium;
    }
}