@theme inline {
  --spacing-input-wrapper-h: calc(var(--spacing) * 10);
  --spacing-input-wrapper-p: calc(var(--spacing) * 2);
  --spacing-input-px: calc(var(--spacing) * 4);
  --color-input-foreground: var(--color-foreground);
  --color-input-placeholder: var(--color-container-text);
  --color-input-border: var(--color-shadcn-400);

  --color-input-adornment: var(--color-container-text);
  --spacing-input-adornment-size: calc(var(--spacing) * 10);
  --spacing-input-adornment-icon-size: calc(var(--spacing) * 5);
}

@layer components {
  .input-wrapper {
    @apply h-input-wrapper-h border-input-border p-input-wrapper-p relative flex w-full cursor-text items-center rounded-md border transition-[color,box-shadow];
  }

  .input-wrapper-focus {
    @apply data-[focus=true]:ring-ring data-[focus=true]:ring-2 data-[focus=true]:ring-offset-0;
  }

  .input-wrapper:focus-within {
    @apply border-ring;
  }

  .input-base {
    @apply px-input-px text-input-foreground placeholder:text-input-placeholder h-full min-h-0 flex-1 border-none bg-transparent outline-none placeholder:text-sm placeholder:font-medium focus:ring-0 focus:ring-offset-0;
  }

  .input-disabled {
    @apply disabled:pointer-events-none disabled:cursor-not-allowed disabled:opacity-50;
  }

  .input-read-only {
    @apply read-only:cursor-default read-only:caret-transparent read-only:opacity-50 read-only:select-text read-only:focus:ring-0 read-only:focus:ring-offset-0 read-only:focus:outline-hidden;
  }

  .input-start {
    @apply ml-6;
  }

  .input-end {
    @apply mr-6;
  }

  .input-adornment {
    @apply text-input-adornment size-input-adornment-size absolute -top-[0.5px] flex items-center justify-center select-none;
  }

  .input-adornment > * {
    height: calc(var(--spacing-input-adornment-size) - 4px);
    width: calc(var(--spacing-input-adornment-size) - 4px);
    @apply text-input-adornment;
  }

  .input-adornment > svg {
    @apply text-input-adornment size-input-adornment-icon-size;
  }

  .input-adornment-start {
    @apply -left-0;
  }

  .input-adornment-end {
    @apply -right-0;
  }
}
