@theme inline {
  /* Button */
  --text-button: var(--font-size-sm);
  --spacing-button-px: calc(var(--spacing) * 4);
  --spacing-button-py: calc(var(--spacing) * 3);
  --spacing-button-px-small: calc(var(--spacing) * 3);
  --spacing-button-py-small: calc(var(--spacing) * 2);
  --spacing-button-h: calc(var(--spacing) * 10);
  --spacing-button-h-small: calc(var(--spacing) * 8);

  --color-button-primary: var(--color-button-primary-surface);
  --color-button-primary-foreground: var(--color-button-primary-text);
  --color-button-primary-disabled: var(--color-muted);
  --color-button-primary-foreground-disabled: var(--color-container-title);
  --color-button-secondary: var(--color-secondary);
  --color-button-secondary-hover: var(--color-background);
  --color-button-secondary-foreground: var(--color-muted-foreground);
  --color-button-border: var(--color-border);
  --color-button-tertiary: var(--color-accent);
  --color-button-tertiary-foreground: var(--color-accent-foreground);
  --color-button-outline-foreground: var(--color-muted-foreground);
}

@layer components {
  .button-base {
    @apply h-button-h px-button-px py-button-py relative inline-flex cursor-pointer items-center justify-center whitespace-nowrap rounded-lg text-sm font-medium shadow-sm transition-colors;
  }

  .button-plain {
    @apply bg-transparent text-inherit shadow-none hover:bg-black/5;
  }

  .button-primary {
    @apply bg-button-primary text-button-primary-foreground hover:bg-button-primary/80 disabled:bg-button-primary-disabled disabled:text-button-primary-foreground-disabled;
  }

  .button-secondary {
    @apply bg-button-secondary text-button-secondary-foreground border-button-border hover:bg-button-secondary-hover disabled:bg-button-secondary-hover border;
  }

  .button-tertiary {
    @apply bg-button-tertiary text-button-tertiary-foreground hover:bg-button-tertiary/70;
  }

  .button-outline {
    @apply text-button-outline-foreground hover:border-button-border border border-transparent shadow-none;
  }

  .button-link {
    @apply !h-4 !p-0 !px-0 !py-0 !text-[13px] underline shadow-none;
  }

  .button-disabled {
    @apply disabled:pointer-events-none disabled:border-transparent disabled:opacity-50 disabled:shadow-none;
  }

  .button-read-only {
    @apply data-[read-only=true]:focus:outline-hidden data-[read-only=true]:cursor-default data-[read-only=true]:border-transparent data-[read-only=true]:opacity-50 data-[read-only=true]:shadow-none data-[read-only=true]:focus:ring-0;
  }

  .button-small {
    @apply h-button-h-small px-button-px-small py-button-py-small;
  }
}
